<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>Simple MOOC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}" />
    <link rel="stylesheet" href="https://simplemooc-wes.s3.amazonaws.com/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{% url 'home' %}">SIMPLE MOOC</a>
        <ul>
            <li class="pure-menu-selected"><a href="{% url 'home' %}">Início</a></li>
            <li><a href="/cursos/">Cursos</a></li>
            <li><a href="/forum/">Fórum</a></li>
            <li><a href="{% url 'contact' %}">Contato</a></li>
                  
            <li><a href="/conta/entrar/">Entrar</a></li>    
            
        </ul>
    </div>
</div>
<div class="content">
{% block content %} {% endblock %}
     
    <div class="footer">
        Copyright &copy 2020 - <a href="https://github.com/paulosergiobp69" class="mylink-color" target="_blank">Paulo Sergio Bernardo Pinto</a> | Simple MOOC - Uma simples plataforma de ensino a distância
    </div>
</div>
<script src="https://simplemooc-wes.s3.amazonaws.com/static/js/yui-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
</body>
</html>